html,
body {
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif !important;
}

.container {
    max-width: 80%;
}


/* header part start */

header {
    padding-top: 10px;
    background-color: #180c37;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 0px;
}

.page-active {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin: 15px;
    background: #411D9E;
    border-radius: 10px;
    padding: 5px 20px;
    border: 1px solid #411D9E;
    transition: .3s;
}

.page-active:hover {
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
}

.page {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin: 15px;
    border: 1px solid #180C37;
    border-radius: 10px;
    transition: .5s;
}

.page:hover {
    background: #411D9E;
    border: 1px solid #fff;
    color: #fff;
}

.dropdown-menu {
    background-color: #301770;
}

.dropdown-item {
    color: #968888;
    transition: .5s;
}

.dropdown-item:hover {
    background-color: transparent;
    color: #fff;
}

.btn-cc {
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background-color: #411D9E;
    border: 1px solid #411D9E;
    padding: 10px 20px;
    border-radius: 10px;
    transition: .3s;
}

.btn-cc:hover {
    background-color: #261453;
    border: 1px solid #fff;
    color: #fff;
}


/* header part end */


/* banner content part start */

.banner-sec {
    background-color: #180C37;
    padding: 40px 0;
}

.banner-part h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

.banner-part p {
    text-align: center;
    color: #fff;
    margin-top: 30px;
    font-weight: 300;
    font-size: 18px;
    padding: 0 60px 0 60px;
}

.banner-blue-box {
    height: 120px;
    background-color: #5429C2;
    padding: 30px 30px 20px 30px;
}

.banner-blue-box h3 {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.banner-orng-box {
    height: 120px;
    background-color: #FFAA17;
    padding: 30px 30px 20px 30px;
}

.banner-orng-box h3 {
    color: #5429C2;
    font-size: 25px;
    font-weight: 600;
}

.btn-cc-blue {
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
    color: #5429C2;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 10px;
    transition: .5s;
}

.btn-cc-blue:hover {
    background-color: #180C37;
    color: #fff;
    border: 1px solid #fff;
}


/* banner part end */


/* service part start */

.service-sec {
    background-color: #180C37;
    padding: 100px 0 0 0;
}

.underline {
    display: inline-block;
    background-color: #fff;
    height: 1px;
    width: 40px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.service-subtitle {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.service-box {
    display: inline-block;
    background-image: linear-gradient(120deg, #5935B6, #594789, #2A1F47);
}

.service-box h1 {
    color: #fff;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 3px;
}

.service-header p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}

.icon-box i {
    background-color: #411D9E;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.feture-box {
    width: 357px;
    height: 555px;
    background-color: #fff;
    border-radius: 15px;
    padding: 40px 30px;
    box-shadow: 0px 0px 10px -2px #000;
    cursor: pointer;
    margin-top: 50px;
}

.feture-box-orng {
    width: 357px;
    height: 555px;
    background-color: #FFAA17;
    border-radius: 15px;
    padding: 50px 30px;
    box-shadow: 0px 0px 10px -2px #000;
    cursor: pointer;
    margin-top: 50px;
}

.feture-box i {
    color: #fff;
    margin-bottom: 20px;
}

.feture-box-orng i {
    color: #fff;
    margin-bottom: 20px;
}

.feture-box h1 {
    color: #000;
    font-size: 32px;
    font-weight: 600;
}

.feture-box-orng h1 {
    color: #000;
    font-size: 32px;
    font-weight: 600;
}

.feture-box p {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
}

.feture-box-orng {
    color: #000;
    font-size: 15px;
    font-weight: 400;
}


/* about part start */

.abot-section {
    margin-top: 80px;
}

.about-heading h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    text-transform: capitalize;
}

.about-heading p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}


/* about part end */


/* service part end */


/* counter part start */

.counter_sec {
    background-color: #180C37;
    padding: 100px 0 40px 0;
}

.counter {
    color: #fff;
    font-weight: 700;
    font-size: 50px;
}

.counter-rate {
    color: #fff;
    font-weight: 700;
    font-size: 49px;
}

.suffix-cc {
    font-weight: 700;
    color: #fff;
    font-size: 50px;
}

.count-desc {
    color: #8E8E83;
    font-size: 18px;
    font-weight: 400;
}


/* counter part end */


/*Portfolio Section Start*/

.portfolio {
    padding: 80px 0;
    background-color: #180C37;
}

.box-list {
    --bs-gutter-x: 0.5rem;
}

.box-menu {
    margin: 30px 0 50px;
}

.img-gallry-box img {
    background-color: #fff;
    padding: 40px 20px 40px 20px;
    border-radius: 20px;
}

.box-menu ul li {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-right: 15px !important;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid #f8f8f8;
    padding: 12px 10px;
    text-transform: uppercase;
    transition: 0.8s;
}

.box-menu ul li:last-child {
    margin-right: 0px !important;
}

.box-menu ul li:hover {
    border: 2px solid #5429C2;
    background-color: #5429C2;
    color: #fff;
}

.box-menu ul li.mixitup-control-active {
    border: 1px solid #5429C2;
}

.box-item img {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    object-fit: cover;
    display: block;
}

.box-item {
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
    width: 30%;
    position: relative;
    overflow: hidden;
}

.box-item:nth-child(3n) {
    margin-right: 0px !important;
}

.port_icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: .3s ease;
}

.port_icon i {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 60px;
    color: white;
    transition: .3s ease-out;
}

.port_text {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 30px;
    transition: .3s ease;
}

.port_text h2 {
    margin: 10px 10px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #333333;
}

.port_text p {
    margin: 10px 10px;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #8e8e8e;
}

.box-item:hover .port_text {
    height: 20%;
}

.box-item:hover .port_icon {
    height: 80%;
}

.box-item:hover .port_icon i {
    top: 50%;
    opacity: 1;
}


/*Portfolio Section end*/


/* <!-- working with part start --> */

.working_sec {
    background-color: #180C37;
    padding: 50px 0;
}

.pricing_content p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.game-crs-img img {
    width: 400px !important;
}

.testimonial-content h4 {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
}


/* owl carousal part start */


/* 
.owl-dots {
    margin-top: 25px;
    display: block;
    text-align: center;
}

.owl-dots .owl-dot span {
    display: block;
    height: 7px;
    width: 30px;
    border: 2px solid #fff;
    margin: 5px;
}

.owl-carousel .active span {
    height: 7px;
    width: 30px;
    background-color: #fff;
} */

.owl-nav {
    margin-top: 25px;
    display: block;
    text-align: center;
}

.owl-nav .owl-prev span {
    display: block;
    font-size: 50px;
    height: 7px;
    width: 30px;
    color: #fff;
    margin: 5px;
}

.owl-nav .owl-next span {
    display: block;
    font-size: 50px;
    height: 7px;
    width: 30px;
    color: #fff;
    margin: 5px;
}


/* footer part start */


/* meet our team part start */

.meet-sec {
    padding: 40px 0 20px 0;
    background-color: #180C37;
}

.meet-img {
    border-radius: 10px;
}


/* meet our team part end */


/* ====================================== */


/* lead banner part start */

.lead-banner-sec {
    padding: 50px 0;
    background-color: #180C37;
}

.lead-border {
    border: 2px solid #fff;
    padding: 40px 50px;
    border-radius: 21px;
}

.lead-title {
    display: inline-block;
    background-image: linear-gradient(120deg, #5935B6, #594789, #2A1F47);
}

.lead-title h1 {
    color: #fff;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 2px;
}

.lead-subtitle {
    color: #fff;
    font-size: 42px;
    font-weight: 400;
}

.form-wrapper h2 {
    position: relative;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #212843;
    text-transform: capitalize;
}

.form-wrapper h2::after {
    position: absolute;
    content: '';
    background-color: #AB9665;
    width: 100%;
    height: 4px;
    left: 0;
    top: 50px;
}

.form-wrapper p {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #212843;
    margin: 5px 0;
}

.form-wrapper .form-control {
    background-color: #F2F2F2 !important;
    border: 1px solid transparent;
    height: 50px;
    border-radius: 5px;
    padding-bottom: 0;
    padding-left: 8px;
}

.form-group .form-select {
    border-radius: 3px;
    height: 50px;
    text-transform: capitalize;
    font-weight: 600;
    background-color: #F0F0F0;
}

.form-wrapper .form-control:focus {
    border-color: #CE1616;
    box-shadow: 0 0 0 0;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
    box-shadow: 0 0 0 0;
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
    box-shadow: 0 0 0 0;
}

.form-wrapper label {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.form-group {
    position: relative;
    margin-bottom: 8px;
}

.form-control-placeholder {
    position: absolute;
    top: 10px;
    padding: 7px 0 0px 10px;
    transition: all 200ms;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0%, -25%, 0);
    opacity: 1;
    color: #333;
}

textarea {
    resize: none;
    padding-top: 20px !important;
    height: 100px !important;
}

.form-control:focus+.cc-textarea,
.form-control:valid+.cc-textarea {
    font-size: 75%;
    transform: translate3d(0%, -16%, 0);
    opacity: 1;
    color: #333;
}

.submit-btn {
    margin-top: 15px;
    background-color: #FFB534 !important;
    border: 2px solid #FFB534;
    width: 100%;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 28px;
    padding: 12px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 4px;
    transition: .5s;
}

.submit-btn:hover {
    background-color: #fff !important;
    border: 2px solid #fff;
    color: #000000;
}


/*  form end --> */


/* lead banner part end */


/* dealerhive generates part start */

.generate-sec {
    padding: 50px 0;
    background-color: #180C37;
}

.generate-heading h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    line-height: 60px;
    text-transform: capitalize;
}

.generate-count {
    color: #FFB534;
    font-size: 36px;
    font-weight: 600;
}

.generate-accross {
    font-size: 36px;
    font-weight: 600;
    display: inline-block;
    background-image: linear-gradient(120deg, #5935B6, #594789, #2A1F47);
}

.check-title h4 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.check-icon {
    font-size: 20px;
    color: #FFB534;
}

.check-title p {
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    margin-top: 10px;
}

.check-gap {
    margin-top: 20px;
}

.btn-cc-leads {
    font-size: 25px;
    font-weight: 500;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background-color: #FFB534;
    border: 1px solid #FFB534;
    padding: 8px 20px;
    border-radius: 10px;
    transition: .6s;
}

.btn-cc-leads:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}

.btn-cc-expert {
    font-size: 25px;
    font-weight: 500;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 8px 20px;
    border-radius: 10px;
    transition: .6s;
}

.btn-cc-expert:hover {
    border: 1px solid #FFB534;
    color: #fff;
    background-color: #FFB534;
}

.button-dubtitle {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
}

.check-heading {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
}


/* dealerhive generates part end*/


/* portfolio part start */


/* portfolio part end */


/* video part start */

.video-sec {
    background-color: #180C37;
    padding: 60px 0;
}


/* video part end */


/* testimonial part start */

.testimonial-sec {
    background-color: #180C37;
    padding: 80px 0 0 0;
}

.testimonial-heading h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-top: 60px;
    line-height: 50px;
}


/* testimonial part end */


/* =========================================== */


/* ======Digital marketing====== */

.portfolio-banner {
    background-color: #180C37;
    padding: 80px 0;
}

.digital-header h1 {
    font-size: 96px;
    font-weight: 600;
    color: #FFAA17;
}


/* main portfolio part start */

.main-portfolio-sec {
    padding: 80px 0;
    background-color: #180C37;
}


/* main portfolio part end */


/* working process part start */

.working-sec {
    padding: 50px 0;
    background-color: #180C37;
}

.working-box {
    width: 357px;
    height: 300px;
    background-color: #5429C2;
    border-radius: 15px;
    padding: 20px 30px;
    box-shadow: 0px 0px 10px -2px #000;
    cursor: pointer;
    margin-top: 50px;
}

.working-white-box {
    width: 357px;
    height: 300px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px 30px;
    box-shadow: 0px 0px 10px -2px #000;
    cursor: pointer;
    margin-top: 50px;
}

.working-yellow-box {
    width: 357px;
    height: 300px;
    background-color: #FFB534;
    border-radius: 15px;
    padding: 20px 30px;
    box-shadow: 0px 0px 10px -2px #000;
    cursor: pointer;
    margin-top: 50px;
}

.working-content span {
    font-size: 55px;
    font-weight: 800;
    color: #ffffff83;
}

.working-white-content span {
    font-size: 55px;
    font-weight: 800;
    color: #00000061;
}

.working-yellow-content span {
    font-size: 55px;
    font-weight: 800;
    color: #0000004c;
}

.working-box h1 {
    font-weight: 700;
    font-size: 32px;
    color: #fff;
}

.working-box p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.working-date {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.working-white-date {
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.working-yellow-date {
    color: #fff !important;
    font-size: 14px;
    font-weight: 400;
}

.working-yellow-box h1 {
    font-weight: 700;
    font-size: 32px;
    color: #000;
}

.working-yellow-box p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.working-yellow-date {
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.working-white-box h1 {
    font-weight: 700;
    font-size: 32px;
    color: #000;
}

.working-white-box p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
}


/* working process part end  */


/* tell project part start */

.tell-sec {
    padding: 50px 0;
    background-color: #180C37;
}

.tell-heading h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}


/* tell project part end */


/* ======Digital marketing====== */


/* footer part start */

footer {
    padding: 60px 0 20px 0;
    background-color: #180C37;
}

footer h2 {
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    margin-bottom: 35px;
    text-transform: uppercase;
}

footer li {
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: #fff !important;
    transition: .5s;
}

footer li:hover {
    color: yellow;
}

footer a {
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    transition: .5s;
}

footer a:hover {
    color: yellow;
}

.text-white {
    font-size: 15px;
}

.copyright-wrapper {
    padding: 20px 0;
    border-top: 1px solid #326E93;
    margin-top: 45px;
}

.copyright-wrapper p {
    font-weight: 300;
    color: #fff;
    font-size: 14px;
}

.footer-social-icon a {
    color: #247B9D !important;
    background-color: #fff;
    text-decoration: none;
    display: flex;
    font-size: 15px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
}

.footer-social-icon a:hover {
    transform: scale(1.1);
}


/* footer part end */


/* footer part end */


/* footer part end */


/* footer part end */


/* footer part end */


/* footer part end */


/* footer part end */


/* footer part end */


/* footer part end */